body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #ff9533;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#container {
  background: rgb(255, 181, 120);
  padding: 30px;
  border-radius: 10px;
  border: solid #a55000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 60%;
}
#clientes{
    background-color: #a55000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
}
#add{
    background-color: lab(66.89% -42.08 64.36);
    text-decoration: none;
    
    font: bold;
}
.delete{
    background-color: rgb(255, 89, 89);
}
input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  
}

